body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse; /* Collapse table borders */
    width: 100%; /* Set table width to 100% */
}
  
th, td {
    border: 1px solid #ddd; /* Add table borders */
    padding: 8px; /* Add padding to cells */
}
  
th {
    text-align: left; /* Align table headers to the left */
}
